@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Outfit:wght@100&family=Source+Sans+Pro:wght@200&display=swap');

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.horario{
    text-align: center;
}
.matematicas{
background-color: red;
}
.tecnologia{
background-color:rosybrown;
}
.fisica{
background-color: cornflowerblue;
}
.naturales{
background-color:greenyellow;
}
.sociales{
background-color:lightpink;
}
.tutoria{
background-color: plum;
}
.quimica{
background-color: gold;
}
.literatura{
background-color: gainsboro;
}
.biblioteca{
background-color: darkcyan;
}
.musica{
background-color: goldenrod;
}
.profe{
    font-size: 9px;
}
.goku{
    background-color: red;
    font-family: 'PT Serif', serif;
}
.freezer{
    background-color: cadetblue;
    font-family: 'Outfit', sans-serif;
}
.crilin{
    background-color: orange;
    font-family: 'Montserrat', sans-serif;
}
.vegetta{
    background-color: plum;
    font-family: 'Source Sans Pro', sans-serif;
}
.foto{
    text-align: center;
}
