table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: gray;
}