.titol{
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: arial;
}
.primernivell{
    font-size: 40px;
    font-family: arial;
}
a:hover{
    color: yellow;
    background-color: black;
}