table{
width: 30px;
}
.titulo{
 text-align: center;
}
.imagen{
 display: flex;
 justify-content: center;
 height: 500px;
}
.index{
  background-color: thistle;  
  margin-top: 30px;
}
.texto{
    margin-left: 10px;
}
.si{
 color: green;
}
.no{
color: red;
}