.todo{
    width: 600px;
    height: 600px;
    position: absolute;
}
.uno{
    background-color: greenyellow;
    width: 600px;
    height: 50px;
    margin-bottom: 5px;
}
.dos{
    background-color: darkgreen;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
}
.tres{
    background-color: aqua;
    right: 0px;
    width: 395px;
    height: 160px;
    margin-bottom: 5px;
    position: absolute;
}
.cuatro{
    background-color: greenyellow;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
}
.cinco{
    background-color: darkgreen;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
}
.seis{
    background-color: black;
    color: white;
    width: 200px;
    height: 100px;
    margin-bottom: 5px;
    position: absolute;
}
.siete{
    background-color: greenyellow;
    width: 200px;
    height: 48px;
    margin-bottom: 5px;  
    margin-left: 205px;
}
.ocho{
    background-color: darkgreen;
    width: 200px;
    height: 47px;
    margin-bottom: 5px;
    margin-left: 205px;
}
.nueve{
    background-color: greenyellow;
    right: 0px;
    width: 190px;
    height: 155px;
    position: absolute;
}
.diez{
    background-color: greenyellow;
    width: 405px;
    height: 50px;
    margin-bottom: 5px;
}
