.total{
    width: 830px;
    background-color: #fef2cd;
    border-color: black;
}
.uno{

}
.dos{

}
.tres{
    text-align: center;
}
.cuatro{
   text-align: center;
}
.cinco{
   float: left;
}
.seis{
    float: right;
}
.siete{
    float: left;

}
.ocho{
    text-align: center;

}
.nueve{

}
.diez{

}
.once{

}
.doce{

}